<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Record Keeper</title>
</head>
<body>
    <div>
        <h2>Hello, Welcome. You can keep your RECORDS here</h2>
        <br/>
            <form>             
                <input type="text" placeholder="Enter your issuer id" required name="id">
                <input type="text" placeholder="Enter your full name" required name="name">
                <input type="text" placeholder="Enter a short description" required name="description">
                <input type="text" placeholder="Enter the date" required name="date">
                <button type="submit">ADD</button>
            </form>
    </div>
</body>
</html>